/* ==========================================================
   MAHANIMO
   Arquivo: variaveis.css
   Função: Variáveis globais do projeto
========================================================== */


/* ==========================================================
   CORES
========================================================== */

:root {

  --background-main: #0f1117;

  --background-secondary: #151821;

  --background-card: #1b1f2a;

  --background-hover: #222735;

  --primary: #7c4dff;

  --primary-hover: #936eff;

  --text-primary: #ffffff;

  --text-secondary: #a7adbd;

  --border-color: rgba(255, 255, 255, 0.08);


  /* ========================================================
     DIMENSÕES
  ======================================================== */

  --container-width: 1280px;

  --section-space: 90px;

  --card-radius: 16px;


  /* ========================================================
     TRANSIÇÕES
  ======================================================== */

  --transition: 0.3s ease;

}