/* ==================================================
   BASE
================================================== */

html{

    scroll-behavior:smooth;
}

body{

    overflow-x:hidden;
}

section{

    position:relative;
}